.header-bg{
    background-color: #000;
    height: 140px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.header-redes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width:1000px){

    .logo{
        width: 150px;
    }

    .header-bg{
        height: 100px;
    }
    
       
    }
    
